<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <application
        android:name=".ULAApplication"
        android:icon="@drawable/mic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".service.OnBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.ula_app.android.service.StepCounterService"
            android:enabled="true"
            android:exported="false">

        </service>

        <activity
            android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--gaming activities-->
        <activity
            android:name=".ui.lockgame.tictactoe.TicTacToeActivity">
        </activity>
        <activity
            android:name=".ui.lockgame.dinogame.DinoGameActivity">
        </activity>
        <activity
            android:name=".ui.lockgame.snakegame.presentation.activity.SnakeGameActivity">
        </activity>
        <activity
            android:name=".ui.lockgame.snakegame.presentation.activity.GameActivity">
        </activity>
        <activity
            android:name=".ui.lockgame.flappybird.FlappyBirdActivity">
        </activity>

    </application>
</manifest> 